.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: lightcoral;
    height: 100vh;

}
.wrapper > *{
padding: 10px;
margin: 10px;
flex: 100%;
border-radius: 10px;

}

.header{
    background: lightgreen;
    flex: 10px;
}
.footer {
    background: lightgreen;
    flex: 10px;
}
 .aside  {
    display: flex;
    background-color: lightseagreen;
    flex-direction: column;
    flex: 100px;
    width: 10px;
    height: 530px;
    
    
}
.main {
    background-color: tomato;
    flex: 100px;
    padding: 10px;
    margin-left: 10px;
    height: 530px;
    
}
.middle{
    display: flex;
    flex: auto;
    
}
.image1,.image2,.image3{
    justify-content: center;
    align-items:center;
    padding-top: 350px;
    padding-bottom: 20px;
    size: auto;
}